<!DOCTYPE html>
<html>
   <head>
      <title> TOP SONG GENERATOR</title>
      <link rel="stylesheet" href="https://pyscript.net/releases/2024.1.1/core.css" />
<script type="module" src="https://pyscript.net/releases/2024.1.1/core.js"></script>

      <h1>TOP SONG GENERATOR </h1>
      <h4>Welcome to our <i>Top Song Generator </i> webiste, it's very simple </h4>
      <h4>   in the search bar enter your favorite artist. And we will expand on thier top songs </h4>
      
      <input type="text" placeholder="Search the artist .." > <py-script src="main.py"></py-script>
   </head>



   <body>
      <ol>
        
      </ol>

      <a href="pagetwo.html">Click here to see my schedule for day 3 </a>



   </body>


   <footer>
      
   </footer>
</html>